@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
.border{
  border: 2px solid red !important;
}
.css-83ijpv-MuiTypography-root{
  color: aliceblue !important;
}
